[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
MemoryCaptures/
Recordings/
[Tt]extureImporterCache/
ExportedObj/
.consulo/
*.pidb
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
*.dll
*.exe
*.pdf
*.zip
*.tmp
*.bak
*.pdb